@charset "UTF-8";

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none
}

body {
    padding: 10px 10%;
    margin: 0 auto;
    line-height: 1.5;
    font-family: 'SUITE-Regular';
}

/* 1. header */
/* 1-1. nav */

nav {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.nav-logo {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-content: center;
}

.nav-logo img,
.footer-logo img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}



.nav-menu {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
}

.nav-menu div {
    transition: 0.5s ease;
}

.nav-menu div:hover {
    transition: 0.5s ease;
    color: rgb(0, 191, 99);
}

.nav-menu a {
    color: inherit;
    text-decoration: none;
}

.nav-sns-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-sns-left i {
    font-size: 20px;
    color: rgb(0, 191, 99);
    transition: 0.5s ease;
}

.nav-sns {
    display: none;
}

.nav-sns-left i:hover {
    color: #345F53;
    transition: 0.5s ease;
}

/* 1-2. profile */
#profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
    height: 500px;
    align-items: center;
}

.profile-text {
    font-weight: bolder;
    font-size: 30px;
    line-height: 1.7;
    font-family: 'SUITE-Regular';
}

.profile-text span {
    background: linear-gradient(90deg, rgba(216, 215, 238, 1) -20%, rgba(0, 176, 191, 1) 29%, rgba(0, 191, 99, 1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.profile-img-back {
    background: rgb(216, 215, 238);
    background: linear-gradient(90deg, rgba(216, 215, 238, 1) 0%, rgba(0, 176, 191, 1) 29%, rgba(0, 191, 99, 1) 100%);
    border-radius: 50%;
    padding: 10px;
}

.profile-img {
    background-image: url('./images/쿼카jpeg.jpeg');
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 10px;
}

/* 2. main */
main {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.section-title {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    color: #345F53;
    font-family: 'SUITE-Regular';
}

.section-content {
    font-size: 15px;
    color: gray;
    margin-bottom: 20px;
}

/* 2-1. tech-stack */
#tech-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-stack-container {
    display: grid;
    padding-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.tech-stack-python {
    background-image: url('./images/python.svg');
    background-size: cover;
    width: 70px;
    height: 70px;
}

.tech-stack-django {
    background-image: url('./images/django.svg');
    background-size: cover;
    width: 70px;
    height: 70px;
}

.tech-stack-aws {
    background-image: url('./images/aws.svg');
    background-size: cover;
    width: 70px;
    height: 70px;
}

.tech-stack-docker {
    background-image: url('./images/docker.svg');
    background-size: cover;
    width: 70px;
    height: 70px;
}

.tech-stack-github {
    background-image: url('./images/github.svg');
    background-size: cover;
    width: 70px;
    height: 70px;
}

.tech-stack-ubuntu {
    background-image: url('./images/ubuntu.svg');
    background-size: cover;
    width: 70px;
    height: 70px;
}

.tech-stack-ec2 {
    background-image: url('./images/amazonec2.svg');
    background-size: cover;
    width: 70px;
    height: 70px;
}

.tech-stack-confluence {
    background-image: url('./images/confluence.svg');
    background-size: cover;
    width: 70px;
    height: 70px;
}

.tech-stack-jira {
    background-image: url('./images/jira.svg');
    background-size: cover;
    width: 70px;
    height: 70px;
}

.tech-stack-html {
    background-image: url('./images/html.svg');
    background-size: cover;
    width: 70px;
    height: 70px;
}

.tech-stack-js {
    background-image: url('./images/js.svg');
    background-size: cover;
    width: 70px;
    height: 70px;
}

.tech-stack-mysql {
    background-image: url('./images/mysql.svg');
    background-size: cover;
    width: 70px;
    height: 70px;
}

.tech-stack-rstudio {
    background-image: url('./images/rstudio.svg');
    background-size: cover;
    width: 70px;
    height: 70px;
}

.tech-stack-streamlit {
    background-image: url('./images/streamlit.svg');
    background-size: cover;
    width: 70px;
    height: 70px;
}
.tech-stack-react {
    background-image: url('./images/react.svg');
    background-size: cover;
    width: 70px;
    height: 70px;
}

.tech-stack-express {
    background-image: url('./images/express.svg');
    background-size: cover;
    width: 70px;
    height: 70px;
}

.tech-stack-node {
    background-image: url('./images/nodedotjs.svg');
    background-size: cover;
    width: 70px;
    height: 70px;
}

.tech-stack-mongodb {
    background-image: url('./images/mongodb.svg');
    background-size: cover;
    width: 70px;
    height: 70px;
}
.tech-stack-container div:hover {
    transition: 0.5s ease;
    transform: scale(1.1);
}

.tech-stack-container div {
    cursor: pointer;
}

/* 2-2. projects */
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.projects-container {
    padding: 20px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, minmax(1fr, 400px));
    gap: 30px;
}

.project-item {
    position: relative;
    border-radius: 15px;
    width: 100%;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
    background-color: #343a40;
}

.project-detail {
    display: none;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    font-size: 15px;
}

.project-detail:hover {
    display: inline-block;
}

.project-title {
    font-size: 20px;
    font-weight: bold;
    color: #bfff00;
    font-family: 'SUITE-Regular';
}

.project-content {
    color: white;
}

.project-tech {
    color: #bfff00;
    line-height: 1.5;
}

.project-link {
    visibility: hidden;
    justify-content: flex-end;
    align-items: center;
    color: white;
}


.project-link i {
    margin-right: 10px;
}

.project-link-mobile {
    position: absolute;
    z-index: 10;
    color: inherit;
    text-decoration: none;
    font-size: 20px;
    top: 360px;
    right: 20px;
    font-size: 15px;
}

.project-link-mobile a {
    color: inherit;
    text-decoration: none;
}

/* 사용한 imgs */
.golf-img {
    position: absolute;
    background-image: url('./images/golf.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    text-align: center;
    transition: 0.5s ease;
}

.golf-img:hover {
    opacity: 0.2;
}

.data-img {
    position: absolute;
    transition: 0.5s ease;
    z-index: 1;
    background-image: url('./images/data.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}

.data-img:hover {
    opacity: 0.2;
    transition: 0.5s ease;
}

.etf-img {
    position: absolute;
    transition: 0.5s ease;
    z-index: 1;
    background-image: url('./images/etf.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}

.etf-img:hover {
    opacity: 0.2;
    transition: 0.5s ease;
}

.finance-img {
    position: absolute;
    transition: 0.5s ease;
    z-index: 1;
    background-image: url('./images/stock.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}

.finance-img:hover {
    opacity: 0.2;
    transition: 0.5s ease;
}

/* 3. footer */
/* 3-1. footer-top */
#top-footer {
    display: flex;
    padding: 80px 0 10px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #345F53;
}

.footer-logo {
    display: inline-block;
    cursor: pointer;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

.footer-contract {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    color: gray;
    gap: 8px;
    justify-content: flex-end;
}

.footer-contract a {
    color: inherit;
    text-decoration: none;
}

.footer-sns {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.footer-sns i {
    font-size: 25px;
    color: rgb(0, 191, 99);
    transition: 0.5s ease;
}

.footer-sns i:hover {
    color: #345F53;
    transition: 0.5s ease;
}

/* 3-2. footer-bottom */
#bottom-footer {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    gap: 20px;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 13px;
    color: gray;
}

.footer-menu a {
    color: inherit;
    text-decoration: none;
}

.footer-copyright {
    display: inline-block;
    text-align: center;
    color: gray;
    font-size: 13px;
}

.footer-copyright span {
    background: linear-gradient(90deg, rgba(216, 215, 238, 1) -20%, rgba(0, 176, 191, 1) 29%, rgba(0, 191, 99, 1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}
.footer-copyright br{
    display: block;
}

.footer-button {
    z-index: 999;
    position: fixed;
    bottom: 10px;
    right: 20px;
    cursor: pointer;
}

.footer-button a {
    color: inherit;
    text-decoration: none;
}

.footer-button i {
    font-size: 25px;
    padding: 10px;
    border-radius: 50%;
    color: white;
    background-color: rgb(0, 191, 99);
    transition: 0.5s ease;
}

.footer-button i:hover {
    transition: 0.5s ease;
    color: rgb(0, 191, 99);
    background-color: white;
}