/* Static position 연습 */
.static-box div {
    background: yellow;
    border: 1px solid red;
}

span {
    background: yellow;
    border: 1px solid red;
}

/* Relative position 연습 */
.top {
    position: relative;
    top: 5px;
    z-index: 1;
}

.right {
    position: relative;
    right: 5px;
}

.bottom {
    position: relative;
    bottom: 5px;
}

.left {
    position: relative;
    left: 5px;
    background: yellow;
    border: 1px solid red;
}

/* Fixed position 연습  */
.fixed-box {
    background: blue;
    position: absolute;
    right: 0;
}

/* Absolute position 연습 */
#parent {
    background: skyblue;
    position: relative;
    width: 100px;
    height: 100px;
}

#child {
    position: absolute;
    right: 0;
}